---

---

<div class="flex justify-center gap-5 lg:mt-10 mt-20">
  <a href="https://www.instagram.com/quiver.reconquista/" target="_blank"
    ><div id="instagram"></div>
  </a>
  <!-- <a href="https://wa.me/+5493482588445" target="_blank"
    ><div id="whatsapp"></div></a
  > -->
</div>
<style>
  #instagram {
    background-image: url('/instagram.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
  }
  #facebooks {
    background-image: url('/facebooks.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
  }
  #whatsapp {
    background-image: url('/whatsapp.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
  }
</style>
